.fas_gross{
	font-size: 2em !important;
}


@media (max-width:692px) {

}

@media (max-width:480px) {

	.schliessen_button{
		margin: 0 0 20px 0;
	}
	.letztes_label{
		border-top-right-radius: 0;
	}
}

/*für die Tabellen*/



.table {
	display: table;
	border: 1px solid silver;
	border-collapse:collapse;
	width: 100%;
}

.table-ohne-border {
	display: table;
	border: 0px solid silver;
	border-collapse:collapse;
	width: 100%;
}

.table-row-ohne-border{
	display: table-row;
	border: 0px solid silver;
}

.table-row {
	display: table-row;
	border: 1px solid silver;
}

.table-cell {
	display: table-cell;
	border: 1px solid silver;
	padding: 15px;
	vertical-align: middle;
}

.table-cell-ohne-border {
	display: table-cell;
	border: 0px solid silver;
	padding: 15px;
	vertical-align: middle;
}

.thead {
	font-weight: bold;
	background:#eee;
}

.spaltenbreite_10{
	width: 10%;
}
.spaltenbreite_20{
	width: 20%;
}
.spaltenbreite_30{
	width: 30%;
}
.spaltenbreite_50{
	width: 50%;
}
.spaltenbreite_70{
	width: 70%;
}


 @media only screen and (max-width: 800px) {

	.table {border:none;}
	
	.table-row,
	.table-cell {
		display: block;
		border: 1px solid silver;
	}
	
	.table-row { margin-bottom: 20px; }
	
}

