@media only screen and (max-width: 480px) {
	.main_menu_offen {
		padding: 20px 50px 20px 50px;
		min-height: 450px;
	}

	#main {
		top: 92px;
	}

	#header {
		background-color: #fff;
	}

	.terminliste_titel_datum {
		height: auto !important;
	}

	.terminliste_beschreibung_bild {
		height: auto !important;
	}

	.terminliste_beschreibung_bild_container {
		position: relative !important;
		height: 0 !important;
	}

	#terminliste_hover:hover .terminliste_beschreibung_bild_container_1 {
		height: 309px !important;
		margin-top: 0 !important;
		;
	}

	#terminliste_hover:hover .terminliste_beschreibung_bild_container_2 {
		height: 309px !important;
		margin-top: 0 !important;
		;

	}

	#terminliste_hover:hover .terminliste_beschreibung_bild_container_3 {
		height: 309px !important;
		margin-top: 0 !important;
		;

	}

	#terminliste_hover:hover .terminliste_beschreibung_bild_container_4 {
		height: 309px !important;
		margin-top: 0 !important;
		;

	}
}