@import url("style_tabs.css");
@import url("style_effekte.css");
@import url("style_grid_system.css");
@import url("style_desktop_menu.css");
@import url("style_footer_menu.css");
@import url("style_mobil.css");
@import url("style_blocks.css");

/*
farben:
#9ec850 helles grün
#388134 dunkles grün
*/


html, body{
  font-family:"Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400; /* oder 300 für Light, 100 für Thin */
}
html {
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 100%;
}

.wp-block-image figcaption {
	font-size: 1em !important;
}
.wp-block-columns,
.wp-block-media-text,
.wp-block-table {
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover {
	height: auto !important;
}

.wp-block-quote {
	max-width: 1150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-block-quote p {
	position: relative;
	color: #82929B;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 2em !important;
	/*wie h2*/
	font-style: normal !important;
	line-height: 1.2em;
	z-index: 5;

}

.wp-block-quote p strong {
	position: relative;
	display: block;
	/*damit bricht es automatisch um*/
	color: #000;
	font-family: 'Goldney';
	font-size: 2em !important;
	/*wie h2*/
	line-height: 0.9em;
	z-index: 10;

}

.wp-block-quote cite {
	position: relative;
	font-size: 1em !important;
	top: -10px;

}
