@import url("style_tabs.css");
@import url("style_effekte.css");
@import url("style_grid_system.css");
@import url("style_desktop_menu.css");
@import url("style_footer_menu.css");
@import url("style_mobil.css");
@import url("style_blocks.css");

/*
farben:
#9ec850 helles grün
#388134 dunkles grün
*/


html, body{
  font-family:"Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400; /* oder 300 für Light, 100 für Thin */
}
html {
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 100%;
}
